.button { 
    width: 30%;
    margin: auto;
    background-color: teal;
    text-align: center;
    padding: 0.1%;
    box-shadow: 5px 10px #888888;
    cursor: pointer;
}

h2{ 
    font-family: 'Jomhuria', cursive;
    font-size: 300%;
}