.container{ 
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


  
  .card {
    width: 60%;
    padding: 16px;
    background-image: radial-gradient(
      circle at 41.09% 30.89%,
      #671e97 0,
      #676560 50%,
      #574f3d 100%
    );
    opacity: 0.8;
    border-style:dotted;
    border-width: 10px;
    border-color: #30197c;
    transition: width 3s, margin-bottom 3s;
  }
  
  #quote { 
    color: yellow;
    font-family: 'Jomhuria', cursive;
    font-size: 450%;
    text-align: center;
  }

  #author{
    color: red;
    font-family: 'Jomhuria', cursive;
    font-size: 450%;
    text-align: center;
  }
